@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* header section start */
header {
  background: #000;
  color: #fff;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  box-shadow: 0 3px 3px  #1F1F1FED;
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 48px;
  margin: 0 0 16px 0;
  
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header li {
  display: inline-block;
}

header li a {
  font-size: 15pt;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}


.menu a:hover {
  text-decoration: underline;
  color: #309194;
}

.content img {
  background: #309194;
  width: 38px;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #58F5D3;
  border-radius: 10px;
  
}
.logo h1 {
  display: inline;
  
}
.logo {
  display: inline-block;
  
  
}
/* header section end */

/* article section start */

.section {
  background: #309194;
  text-align: center;
  padding: 15px;
  z-index: 2;
  color: #fff;
  
  /* flexbox stiles*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

article {
  height: 20%;
  width: 300px;
  background: #BFBFBF3B;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

article img {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #FFFFFF;
  display: block;
}
/* article section end */

/* footer section start */
footer {
  background: #353535;
  color: #C2CBCD;
  padding: 25px 0;
  text-align: center;
  box-shadow: 0 -3px 3px #1F1F1FED;
}

footer p {
  font-size: 8pt;
}

.contacts img {
  width: 50px;
  height: 50px;
  margin-left: 7px;
  margin-right: 7px;
}
/* footer section end */

/* responsive start */
@media screen and (max-width:1200px){
  article {
    width: ;
  }
  
}

@media screen and (max-width:480px){
  
  header li a {
  font-size: 12pt;
  padding: 7px;
  }
  
  article {
    width: 350px;
  }
  
}
